body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Railway','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
    --background: #e6e6e6;
    --secondcolor: #f7baae;
    --darksecondcolor: #a87970;
    --maincolor: #C8F0E6;
    --thirdcolor: #848484;
    --forthcolor: #000000;

}
